* {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/**
 * Main Box
 */
.main-box {
  position: relative;
  border: 2px lightgrey solid;
  border-radius: 3%;
  margin: 10px auto;
  height: 600px;
  width: 600px;
}

.main-box h1 {
  color: #3bb61f;
}

h1 {
  text-align: left;
  margin-left: 60px;
  margin-top: 50px;
  font-size: 2.3rem;
}

h2 {
  position: absolute;
  top: 2%;
  right: 0%;
  transform: translateX(30%);
  border: 1px lightgrey solid;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 80px;
  text-align: center;
  background: lightgrey;
  color: white;
}

.css-list h1 {
  font-size: 2rem;
  color: darkgrey;
  margin-top: 80px;
}

li {
  color: #319fc2;
  font-size: 2rem;
  margin-left: 80px;
  margin-right: 200px;
  padding: 0.5rem;
  text-decoration-color: lightgrey;
  list-style-type: square;
}

.social .fa-twitter, .fa-facebook, .fa-google-plus {
  display: inline;
  padding: 0.6rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: lighter;
  color: lightgrey;
}

.social .fa-twitter {
  margin-left: 6rem;
}
